*{
    padding: 0;
    margin: 0;
}

/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


body{
    padding-bottom: 20px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
}
ul,li{
}
.doc-about-wrapper{
    font-size: 13px;
}
.doc-about-wrapper .doc-order{
    padding: 2px 5px 2px 5px;
}
.doc-dabiaoti{
    position: relative;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}
.doc-subdabiaoti{
    position: relative;
    font-size: 16px;
    color:gray;
    font-weight: 500;
    margin-left: 10px;
}
.doc-ul{
    position: relative;;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left:10px;
    color:#727272;
    list-style-type: decimal;
    list-style-position: inside;
}
.doc-ul li{
    margin-top: 7px;
    margin-bottom: 7px;
}

.doc-zhengwen{
    position: relative;
    font-size: 14px;
    color:#333;
    line-height:24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.doc-fubiaoti{
    position: relative;
    font-size: 18px;
    padding-top: 10px;
    margin-top: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.doc-link{
    color:blue;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.doc-xiaobiaoti{
    position: relative;
    font-size: 15px;
    color:#424242;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.doc-code{
    font-size: 13px;
}
.doc-miaoshu{
    position: relative;
    font-size: 13px;
    line-height: 22px;
    border-radius: 5px;
    margin-top: 10px;
    border-left: 3px solid lightblue;
    background-color: #f6f6f6;
    padding: 10px;
}
.doc-important{
    border-left: 3px solid red;
}

.doc-order,.doc-order1{
    padding:2px 5px 2px 5px;
    border-radius:4px;
    color:#797979;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #d5ecff;
}
.doc-order1{
    color: #c7254e;
    background-color: #f9f2f4;
}
.doc-zhengwen:first-letter {
font-size: 20px;
padding: 0.1em;
color: #000000;
}
.doc-imgs img{
    width:180px;
    margin-left: 10px;
    margin-top: 10px;
    border:4px solid #eee;
    border-radius: 4px;
}
.doc-pros-top{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}
.doc-pros-desc{
    font-size: 13px;
    line-height: 22px;
    color:gray;
}
.doc-link{
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}
.doc-pros-type{
    font-weight: normal;
    font-size: 14px;
    margin-left: 12px;
}

.doc-pros-ul li{
    padding: 10px;
}

.doc-pros-ul li:nth-child(odd){
    background-color: #d6f5ff;
}
.doc-pros-ul li:nth-child(even){
    background-color: #fff;
}

.doc-area{
    padding: 10px;
    margin-top: 10px;
    line-height: 24px;
    border-radius: 4px;
    background-color: #f7f7f7;
    position: relative;
    font-size: 14px;
    color:gray;
}
